[submodule "content/themes/froyo-ghost-theme"]
	path = content/themes/froyo-ghost-theme
	url =https://github.com/valiantvu/froyo-ghost-theme 

[submodule "content/themes/casper"]
    path = content/themes/casper
    url =https://github.com/TryGhost/casper

