<nav class="pagination" role="navigation">
	<div class="nav">
		{{#if prev}}
			<a class="newer-posts" href="{{page_url prev}}">NEWER POSTS</a>
		{{/if}}
		{{#if next}}
			<a class="older-posts" href="{{page_url next}}">OLDER POSTS</a>
		{{/if}}
	</div>
</nav>